@(message: String)

@main("Welcome to Play 2.0") {
  

<form >
  <legend>NOTE DU SERVICE</legend>
  <div class="control-group">
    <label for="globalRating" class="control-label">
    	Note générale :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="globalRating" id="globaRating1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="globalRating" id="globaRating2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="globalRating" id="globaRating3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="globalRating" id="globaRating4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="globalRating" id="globaRating5" value="5" > 5
    </label>
    </div>
  </div>



  <div class="control-group">
    <label for="optionsRadios" class="control-label">
    	Je recommanderai ce service à un ami :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="optionsRadios" id="recommend" value="1" checked> Oui
    </label>
    <label class="radio inline">
  	  <input type="radio" name="optionsRadios" id="recommend" value="2" > Non
    </label>    
    </div>
  </div>


  <legend>Partagez votre opinion et écrivez un avis détaillé</legend>

  <label for="">Titre de l'avis :</label>
  <input type="text" name="title" class="input-xlarge"/>
  <span class="help-block">Exemple: bon rapport qualité/prix.</span>

  <label for="">Avis :</label>
  <textarea rows="10" name="avis" class="input-xlarge"/></textarea>
  <span class="help-block">Votre avis doit comporter au moins 50 caractères,. Sinon seules les notes seront prises en compte.</span>

  <div class="container">
    <div class="row">
      <div class="span4">
      	<label>Vous avez aimé</label>
      	<input type="checkbox"/><input type="text" placeholder="Ajouter une note positive" class="input-large"/>
      </div>
      <div class="span4">
      	<label>Vous n'avez pas aimé</label>
      	<input type="checkbox"/><input type="text" placeholder="Ajouter une note négative" class="input-large"/>
      </div>
    </div>
  </div>

  <legend>Notez le service sur une ou plusieurs des catégories suivantes</legend>

  <div class="control-group">
    <label for="serviceRespect" class="control-label">
    	Respect du service :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="serviceRespect" id="serviceRespect1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="serviceRespect" id="serviceRespect2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="serviceRespect" id="serviceRespect3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="serviceRespect" id="serviceRespect4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="serviceRespect" id="serviceRespect5" value="5" > 5
    </label>
    </div>
  </div>



  <div class="control-group">
    <label for="accueil" class="control-label">
    	Accueil :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="accueil" id="accueil1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="accueil" id="accueil2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="accueil" id="accueil3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="accueil" id="accueil4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="accueil" id="accueil5" value="5" > 5
    </label>
    </div>
  </div>



  <div class="control-group">
    <label for="Ecoute" class="control-label">
    	Ecoute :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="Ecoute" id="Ecoute1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="Ecoute" id="Ecoute2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="Ecoute" id="Ecoute3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="Ecoute" id="Ecoute4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="Ecoute" id="Ecoute5" value="5" > 5
    </label>
    </div>
  </div>


  <div class="control-group">
    <label for="confiance" class="control-label">
    	Confiance :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="confiance" id="confiance1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="confiance" id="confiance2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="confiance" id="confiance3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="confiance" id="confiance4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="confiance" id="confiance5" value="5" > 5
    </label>
    </div>
  </div>

  <div class="control-group">
    <label for="techSkills" class="control-label">
    	techSkills :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="techSkills" id="techSkills1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="techSkills" id="techSkills2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="techSkills" id="techSkills3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="techSkills" id="techSkills4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="techSkills" id="techSkills5" value="5" > 5
    </label>
    </div>
  </div>


  <div class="control-group">
    <label for="waitingTime" class="control-label">
    	waitingTime :
    </label>
    <div class="controls">
    <label class="radio inline">
  	  <input type="radio" name="waitingTime" id="waitingTime1" value="1" checked> 1
    </label>
    <label class="radio inline">
  	  <input type="radio" name="waitingTime" id="waitingTime2" value="2" > 2
    </label>
    <label class="radio inline">
  	  <input type="radio" name="waitingTime" id="waitingTime3" value="3" > 3
    </label>
    <label class="radio inline">
  	  <input type="radio" name="waitingTime" id="waitingTime4" value="4" > 4
    </label>
    <label class="radio inline">
  	  <input type="radio" name="waitingTime" id="waitingTime5" value="5" > 5
    </label>
    </div>
  </div>

  <button type="submit" class="btn">Envoyer</button>
</form>
    
}